<div class="container">
  <P class="head">Может понравиться</P>
  <div class="line"></div>
  <p class="info">Почему косвенно художественное восприятие?</p>
  <div class="statsAll">
    <div class="stats">
    <div class="num">441</div>
    <img class="iconHeart">
  </div>
  <div class="stats">
      <div class="num">12</div>
      <img class="iconComment">
  </div>
  </div>
  <div class="line"></div>
  <p class="info">Элитарный миракль: предпосылки</p>
  <div class="statsAll">
    <div class="stats">
    <div class="num">44</div>
    <img class="iconHeart">
  </div>
  <div class="stats">
      <div class="num">7</div>
      <img class="iconComment">
  </div>
  </div>
  <div class="line"></div>
  <p class="info">Элитарный миракль: предпосылки</p>
  <div class="statsAll">
    <div class="stats">
    <div class="num">5</div>
    <img class="iconHeart">
  </div>
  <div class="stats">
      <div class="num">4</div>
      <img class="iconComment">
  </div>
  </div>
  <div class="line1"></div>
</div>
