<h1 mat-dialog-title>Сдача задания</h1>
<form [formGroup]="finishForm" (ngSubmit)="onSubmit(finishForm.value)">
    <p>Ваша ссылка-источник: <b>{{sourceLink}}</b></p>
    <p>Укажите ссылки на социальные сети:</p>
    <div *ngFor="let social of data.networks">
        {{social.title}}:  
        <input type="text" formControlName={{social.title}}>
        <button (click)="onsend(social.title, social.id)" >Отправить</button>
    </div>
    <!-- <br><button type="submit" style ="margin-top: 4%">Отправить</button> -->
</form>