* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.main {
    display: grid;
    grid-template-areas: 
    "top top top"
    "nav main right";
    grid-template-columns: 15.8% 1fr 20%;
    grid-template-rows: 25% auto 
}
.main-bar {
    grid-area: main;
    text-align: center;
}
.top-bar {
    grid-area: top;
}
.left-bar {
    grid-area: nav;
    border: solid 1px #f9d4c7;
}
.right-bar {
    grid-area: right;
}