<h1>Задачи</h1>

<div div class="tasks" *ngIf="tasks.length != 0; else elseBlock">
    <div class="task-block" *ngFor="let task of tasks">
        <div class="info">
            <h4>до {{ setData(task.deadline) }}</h4>
            <div>
                <h3>Тема:</h3>
                <p>{{ task.title }}</p>
            </div>
            <div>
                <h3>Заказчик:</h3>
                <p>{{ getInitiator(task) }}</p>
            </div>
            <div>
                <h3>Контактное лицо:</h3>
                <p>{{ task.contactPerson.name }}</p>
            </div>
            <button mat-button (click)="openDialog(task)">Информация</button>

            <div class="price">
                <p>Вознаграждение:</p>
                <div *ngFor="let price of task.prices">
                        <p>{{price.priceType.name}}</p>
                    </div>
            </div>
        </div>
        <div class="social">
            <div *ngFor="let social of task.networks">
                <a [href]="social.url" target="_blank">{{social.title}}</a>
            </div>
        </div>
    </div>
</div>
<ng-template #elseBlock>
    <h3>Нет задач!</h3>
</ng-template>