.tasks{
    display: grid;
    grid-template-areas: "t t";
}
.task-block{
    text-align: left;
    margin: 5%;
    display: grid;
    /* grid-template-columns: 80% 20%; */
    grid-template-columns: 80% 20%;
}

.info{
    background-color: rgba(241, 241, 241, 0.91);
}
.social{
  background-color: rgba(164, 164, 164, 0.62);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
    font-family: Helvetica;
    font-size: 20px;
    margin: 10px;
    font-weight: bold;
}

.description{
    font-family: Helvetica;
    font-size: 16px;
    margin: 10px;
    color: #737373;
}

.date {
    text-align: right;
    margin: 10px;
    font-family: Helvetica;
    font-size: 14px;
}

.submit {
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  button {
    width: 271px;
    height: 55px;
    background-color: #fa5375;
    border: none;
    outline: none;
  }

.price{
    text-align: left;
    display: flex;
    align-items: center;
}

.submitContainer {
text-align: center;
  }

.image1 {
    width: 50px;
    height: 50px;
    padding-top: 10px;
}

.image2 {
    padding: 0px 5px; 
    width: 21px;
    height: 21px;
    color: #fa5375;
}
