<h1>Задачи</h1>

<div div class="tasks" *ngIf="tasks.length != 0; else elseBlock">
    <div class="task-block" *ngFor="let task of tasks">
        <div class="info">
            <div class="date">до {{ setData(task.deadline) }}</div>
            <div>
                <div class="title">Тема:</div>
                <div class="description">{{ task.title }}</div>
            </div>
            <div>
                <div class="title">Заказчик:</div>
                <div class="description">{{ getInitiator(task) }}</div>
            </div>
            <div>
                <div class="title">Контактное лицо:</div>
                <div class="description">{{ task.contactPerson.name }}</div>
            </div>
            <div class="submitContainer">
                <button class="submit" mat-button (click)="openDialog(task)">Информация</button>
            </div>
            

            <div class="price">
                <div class="title">Вознаграждение:</div>
                <div *ngFor="let price of task.prices">
                        <img src="/assets/images/Icons/coin.svg" *ngIf="price.priceType.name==='Деньги'" class="image2">
                        <img src="/assets/images/Icons/heart.svg" class="image2" *ngIf="price.priceType.name==='Лайки'">
                    </div>
            </div>
        </div>
        <div class="social">
            <div *ngFor="let social of task.networks">
                <img class="image1" src="{{socialIcon(social)}}">
            </div>
        </div>
    </div>
</div>
<ng-template #elseBlock>
    <h3>Нет задач!</h3>
</ng-template>