<div class="container">
        <ul>
            <li>
                Популярное
            </li>
            <li>
                Новое
            </li>
            <li>
                Для меня
            </li>
        </ul>
    <div class="title">
        <p>Категории</p>
    </div>
    <ul>
        <li>
            Спорт
        </li>
        <li>
            Культура
        </li>
        <li>
            Экология
        </li>
        <li>
            Медицина
        </li>
        <li>
            События
        </li>
        <li>
            Безопасность
        </li>
        <li>
            Медиа
        </li>
    </ul>
</div>