<div class="top-main">
    <div class="a">
        <p class="kindnotes" routerLink='/'>kindnotes</p>
    </div>
    <div class="search-container b">
        <form>
          <input class="searchInfo" type="text" placeholder="Search..." name="search">
          <button class="searchButton" type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
    <div class="c">
        <a routerLink='/posts'>Задачи</a>
    </div>
    <div class="d">
        <a routerLink='/authentification'>Авторизация</a>
    </div>
</div>