<div mat-dialog-content>
  <div class="ricardo">
    <div *ngIf="task">
      <h2>{{task.title}}</h2>
      <div>
        <p><b>Заказчик:</b> {{getInitiator(task)}}</p>
      </div>
      <div>
        <p><b>Контактное лицо:</b> {{task.contactPerson.name}}</p>
      </div>
      <div>
        <p><b>Местро проведения:</b> г. {{task.placeCity.name}}</p>
      </div>
      <div>
        <p><b>Описание события:</b> {{task.description}}</p>
      </div>
      <div>
        <p><b>Задание:</b> {{task.taskText}}</p>
      </div>
      <div class="bottom-info">
        <div>
          <p><b>Срок выполнения:</b> <br>{{setData(task.deadline)}}</p>
        </div>
        <div>
          <p style="margin-bottom: 0%"><b>Вознаграждение:</b></p>
          <div class="bottom-info-price">
            <p *ngFor="let price of task.prices" style="margin: 0%">{{getPrice(price)}};&nbsp;</p>
          </div>
        </div>
      </div>
    </div>
    <div class="button-block">
      <div>
        <p>Соц сети</p>
      </div>
      <div class="button-block-active">
        <div>
          <button (click)="onTakeTask()">Выполнить</button>
        </div>
        <div>
          <button (click)="onNoClick()">Отменить</button>
        </div>
      </div>
    </div>
  </div>
</div>